* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* <!-- -------------------------------------------------------- HEADER --> */


.header_container {
    padding-top: 193px;
    background-size: 100% 100%;
    background-image: url(./assets/header_imges/Rectangle.png);
}


h1 {
    text-align: center;
    margin: 0 auto;
    max-width: 735px;
    font-size: 64px;
    font-weight: 500;
    line-height: 95px;
    color: #FFFFFF;
    font-family: Oswald;
    text-align: center;
}

.header_subtitle {
    padding-top: 35px;
    margin: 0px 32% 0px;
}

.header_subtitle {
    font-size: 18px;
    font-weight: 400;
    font-family: Oswald;
    line-height: 27px;
    color: #FFFFFF;
    text-align: center;
}

.header_show_bill {
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards_wrapper {
    margin: 57px 130px;
    display: flex;
    justify-content: space-around;
}

.header_cards_box {
    width: 190px;
    height: 185px;

}

.header_cards_titles {
    text-align: center;
    font-size: 72px;
    font-weight: 500;
    line-height: 107px;
    font-family: Oswald;
    color: #F7654A;
}

.header_cards_elements {
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    line-height: 54px;
    font-family: Oswald;
    color: #000000;
}

.header_cards_text {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    font-family: Oswald;
    color: #999999;
}

/* <!-- -------------------------------------------------------- MAIN --> */
h2,
h3 {
    font-family: Oswald;
    font-weight: 500;
}

.projects_content_images {
    max-width: 1110px;
    margin: 60px auto 0;
    display: flex;
    gap: 30px;
}

.box_container img {
    width: 350px;
    height: 380px;
}

.box_container h3 {
    font-size: 24px;
    line-height: 35px;
    width: 55px;
    padding-top: 15px;
    border-top: 1px solid #F7654A;
    border-width: 6px;
    margin: 45px 0 0;
}

.box_container p {
    max-width: 315px;
    margin-top: 20px;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #999999;
}


.content_title {
    margin-top: 200px;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
}




.your_request {
    width: 100%;
    margin-top: 200px;
    background-color: #F7654A;
}

.wrapper_request {
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.request_titles {
    padding: 30px 0 45px;
}

.request_titles h2 {
    font-size: 48px;
    line-height: 72px;
    font-weight: 700;
    color: #FFFFFF;
}

.request_titles h3 {
    margin-top: 20px;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    color: #FFFFFF;
}

.btn_request {
    width: 175px;
    height: 50px;
    margin: 85px 0 75px;
    border: none;
    background: #FFFFFF;
}

.btn_request a {
    padding: 15px 45px;
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    font-family: Oswald;
    font-weight: 500;
    color: #000000;
}

/* ----------------------------------- 2 */


.main_container {
    font-family: Oswald;
    font-weight: 500;
    color: #000000;
}

.company_cards {
    max-width: 1110px;
    margin: 150px auto 0;
}

.company_cards h3 {
    font-size: 36px;
    line-height: 54px;
    text-align: center;
}

.cards_box {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 65px;
}

.cards_item {
    width: 350px;
    height: 250px;
    padding: 60px 90px;
    text-align: center;
    background-color: #F7F7F7;
    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;
    gap: 30px;
}

.cards_item img {
    width: 60px;
    height: 40px;
}

.cards_item p {
    font-size: 21px;
    line-height: 32px;
}


.cards_box_under {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px 250px;
    justify-content: center;
    gap: 30px;
    margin-top: 65px;
}

.main-card {
    padding: 60px 90px;
    text-align: center;
    background-color: #F7F7F7;
    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;
    gap: 20px;
}

.main-card img {
    width: 60px;
    height: 40px;
}

.main-card p {
    font-size: 21px;
    line-height: 32px;
}

/* <!-- -------------------------------------------------------- FOOTER --> */

.footer_contacts {
    max-width: 1110px;
    margin: 150px auto 0;
}


.footer_contacts h3 {
    font-size: 36px;
    line-height: 54px;
    text-align: center;
}

.contacts_items {
    text-align: center;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin: 60px 0 0;
}

.footer_elements {
    width: 250px;
}

.footer_elements h4 {
    font-size: 24px;
    margin-top: 35px;
    line-height: 36px;
    color: #999999;
}

.footer_elements p {
    font-size: 24px;
    line-height: 36px;
    padding: 35px;
}

#email {
    margin-top: 45px;
}

.footer {
    margin: 60px auto 0;
    background-color: #404149;
}

.footer_wrapper {
    height: 82px;
    max-width: 1110px;
    margin: 0 auto 0 auto;
    color: #FFFFFF;
    font-family: Open Sans;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}